---
layout: base
---
<div class="wrapper">
    <header>
        {% if site.compass.author %}
        <div class="author-container"><h1>{{ site.compass.author }}</h1></div>
        {% endif %}

        {% if site.compass.tagline %}
        <div class="tagline-container"><p>{{ site.compass.tagline }}</p></div>
        {% endif %}

        <div class="tagline-container">
        <p>
          <a href="https://www.credly.com/earner/earned/badge/d7029f0b-8e34-498f-99a5-9306839df603"><img src="/images/isc2_cissp-issap.png" height="110" width="110" alt="CISSP-ISSAP" /></a>
          <a href="https://www.credly.com/earner/earned/badge/6cc52668-93af-44db-9e82-41f7009d9aa9"><img src="/images/isc2_csslp.png" height="110" width="110" alt="CSSLP" /></a><br />

          <a href="https://www.credly.com/earner/earned/badge/14744583-e64a-47ff-a6c7-3edf4c4d3ddc"><img src="/images/AWS-DevOpsEngineer-Professional.png" height="110" width="110" alt="AWS DevOps Engineer" /></a>
          <a href="https://www.credly.com/earner/earned/badge/ab1943c7-6960-4659-9ce3-ce0df7feefc5"><img src="/images/AWS-Security-Specialty.png" height="110" width="110" alt="AWS Security Specialty" /></a><br />

          <a href="https://www.credly.com/earner/earned/badge/8bc2a79e-814e-4505-814b-0859baa5a585"><img src="/images/AWS-SysOpAdmin-Associate.png" height="110" width="110" alt="AWS SysOps Associate" /></a>
          <a href="https://iapp.org/certify/cipt/"><img src="/images/CIPT_220x220.png" height="110" width="110" alt="CIPT" /></a><br />

          <a href="https://www.credly.com/earner/earned/badge/d4d2b2bc-87f8-4a84-9d08-6401e831fc81"><img src="/images/azure-security-engineer-associate.png" height="110" width="110" alt="Microsoft Certified: Azure Security Engineer Associate" /></a>
          <a href="https://www.credly.com/earner/earned/badge/7d9e1a15-5bfb-4d20-b935-53f87232459f"><img src="/images/azure-fundamentals.png" height="110" width="110" alt="Microsoft Certified: Azure Fundamentals" /></a><br />

          <a href="https://certification.acquia.com/user/1018"><img src="/images/D7BE.png" height="110" width="110" alt="Acquia Certified Back End Specialist Drupal 7" /></a>
          <a href="https://www.zend-zce.com/en/yellow-pages/ZEND003099"><img src="/images/ZCE-PHP4-logo-XS.jpg" height="80" width="86" alt="Zend Certified Engineer PHP4" /></a>
        </p>
        </div>
    </header>
    <main>
      {% if site.compass.include_content %}
      <div class="content">
        {% include content.html %}
      </div>
      {% endif %}
    </main>
</div>
