<h2>Currently</h2>
I manage information security for cloud server infrastructure. I like to focus on projects that heavily rely on <a href="https://www.ansible.com/">Ansible</a> and <a href="https://aws.amazon.com/">AWS</a>. I'm also a leader for the <a href="http://www.scouting.org/">Boy Scouts of America</a>, coach for a <a href="https://www.georgiacycling.org/">Georgia Cycling </a> mountain bike team, and a <a href="https://www.uscyberpatriot.org/">Cyberpatriot</a> coach.

<h2>Previously</h2>
Application configuration, web application architecture and deployment, IT management, and <a href="https://www.drupal.org/user/972">Drupal development</a>. I'm also the author of the <a href="https://normanlayout.info">Norman keyboard layout</a>.

<h3>Contact</h3>
<script>document.write('<'+'a'+' '+'h'+'r'+'e'+'f'+'='+"'"+'m'+'a'+'i'+'l'+'t'+'o'+'&'+'#'+'5'+'8'+';'+'d'+'a'+'v'+'%'+'&'+
'#'+'5'+'4'+';'+'9'+'%'+'&'+'#'+'5'+'4'+';'+'4'+'&'+'#'+'3'+'7'+';'+'4'+'0'+'d'+'%'+'6'+'B'+'n'+'%'+
'2'+'&'+'#'+'6'+'9'+';'+'e'+'m'+'&'+'#'+'9'+'7'+';'+'i'+'l'+"'"+'>'+'&'+'#'+'1'+'0'+'0'+';'+'a'+'v'+
'i'+'d'+'&'+'#'+'6'+'4'+';'+'d'+'k'+'n'+'&'+'#'+'4'+'6'+';'+'e'+'m'+'&'+'#'+'9'+'7'+';'+'&'+'#'+'1'+
'0'+'5'+';'+'l'+'<'+'/'+'a'+'>');</script><noscript>[Turn on JavaScript to see the email address]</noscript>

<hr />

<h3>Social</h3>

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fab fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/deekayen">GitHub</a>
  </li>
  <li class="main-list-item">
    <span class="fab fa-person-hiking fa-lg main-list-item-icon"></span>
    <a href="https://www.alltrails.com/members/david-norman-23">AllTrails</a>
  </li>
</ul>

<hr />

<h3>Professional activity:</h3>

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fab fa-linkedin fa-lg main-list-item-icon"></span>
    <a href="https://www.linkedin.com/in/deekayen/">LinkedIn</a>
  </li>
  <li class="main-list-item">
    <span class="fab fa-certificate fa-lg main-list-item-icon"></span>
    <a href="https://www.credly.com/users/deekayen">Credly</a>
  </li>
  <li class="main-list-item">
    <span class="fab fa-file-code fa-lg main-list-item-icon"></span>
    <a href="https://galaxy.ansible.com/deekayen">Ansible Galaxy</a>
  </li>
</ul>
