<h2>Currently</h2>
Working as a DevOps Engineer with <a href="http://www.cioxhealth.com">Ciox Health</a> to manage the server configuration and software deployments of some great health information management apps. I also lead a <a href="http://www.scouting.org/Home/CubScouts.aspx">Cub Scout</a> den.

<h2>Previously</h2>
Information security, web application architecture, IT management, and <a href="https://www.drupal.org/user/972">Drupal development</a>.

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fab fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/deekayen">GitHub</a>
  </li>
  <li class="main-list-item">
    <span class="fab fa-amazon fa-lg main-list-item-icon"></span>
    <a href="http://smile.amazon.com/registry/wishlist/3UBTXPIUU0XSL">Amazon wishlist</a>
  </li>
  <li class="main-list-item">
    <span class="fab fa-linkedin fa-lg main-list-item-icon"></span>
    <a href="https://www.linkedin.com/in/deekayen/">LinkedIn</a>
  </li>
  <li class="main-list-item">
    <span class="fas fa-keyboard fa-lg main-list-item-icon"></span>
    <a href="https://normanlayout.info">Norman keyboard layout</a>
  </li>
  <li class="main-list-item">
    <span class="fas fa-envelope fa-lg main-list-item-icon"></span>
    <script>document.write('<'+'a'+' '+'h'+'r'+'e'+'f'+'='+"'"+'m'+'a'+'i'+'l'+'t'+'o'+'&'+'#'+'5'+'8'+';'+'d'+'a'+'v'+'%'+'&'+
'#'+'5'+'4'+';'+'9'+'%'+'&'+'#'+'5'+'4'+';'+'4'+'&'+'#'+'3'+'7'+';'+'4'+'0'+'d'+'%'+'6'+'B'+'n'+'%'+
'2'+'&'+'#'+'6'+'9'+';'+'e'+'m'+'&'+'#'+'9'+'7'+';'+'i'+'l'+"'"+'>'+'&'+'#'+'1'+'0'+'0'+';'+'a'+'v'+
'i'+'d'+'&'+'#'+'6'+'4'+';'+'d'+'k'+'n'+'&'+'#'+'4'+'6'+';'+'e'+'m'+'&'+'#'+'9'+'7'+';'+'&'+'#'+'1'+
'0'+'5'+';'+'l'+'<'+'/'+'a'+'>');</script><noscript>[Turn on JavaScript to see the email address]</noscript>
  </li>
</ul>
